In [4]:
import glob
import os
import pandas as pd
import numpy as np

#### load files into juicy df

In [20]:
files = glob.glob("C:/Users/Alicja/Documents/GitHub/cry_baby/data/android/*.3gp")

In [47]:
mydf = pd.DataFrame(files).rename(columns={0: "filename"})

In [48]:
mydf.head()

                                            filename
0  C:/Users/Alicja/Documents/GitHub/cry_baby/data...
1  C:/Users/Alicja/Documents/GitHub/cry_baby/data...
2  C:/Users/Alicja/Documents/GitHub/cry_baby/data...
3  C:/Users/Alicja/Documents/GitHub/cry_baby/data...
4  C:/Users/Alicja/Documents/GitHub/cry_baby/data...

In [49]:
mydf_split = mydf['filename'].str.split('-', expand=True).rename(columns=lambda x: f"string_{x+1}")

In [50]:
mydf_split.head()

,string_1,string_2,string_3,string_4,string_5,string_6,string_7,string_8,string_9,string_10
0,C:/Users/Alicja/Documents/GitHub/cry_baby/data...,715a,46ee,b592,1c4e7affb788,1430218353124,1.7,f,26,hu.3gp
1,C:/Users/Alicja/Documents/GitHub/cry_baby/data...,513d,4431,b7ba,b0fba5a00908,1430339263195,1.7,m,04,hu.3gp
2,C:/Users/Alicja/Documents/GitHub/cry_baby/data...,26e4,4a2c,9336,04ddc58836d9,1430726196216,1.7,m,04,hu.3gp
3,C:/Users/Alicja/Documents/GitHub/cry_baby/data...,aa02,453e,8b83,6ebde9fe7551,1430233132879,1.7,m,26,hu.3gp
4,C:/Users/Alicja/Documents/GitHub/cry_baby/data...,aa02,453e,8b83,6ebde9fe7551,1430233150868,1.7,m,26,hu.3gp

In [55]:
mydf_clean = mydf_split.drop(['string_2', 'string_3', 'string_4', 'string_5', 'string_6', 'string_7'], axis=1).rename(columns={"string_1":"filename", "string_8":"gender", "string_9":"age", "string_10":"reason"})

In [75]:
mydf_clean['reason'] = [mydf_clean['reason'][i].split('.',1)[0] for i in range(len(mydf_clean['reason']))]

In [79]:
mydf_clean.describe()

                                                 filename gender  age reason
count                                                 712    712  712    712
unique                                                261      2    5      9
top     C:/Users/Alicja/Documents/GitHub/cry_baby/data...      m   04     hu
freq                                                   25    414  257    485